TELEGRAM_TOKEN=insira_seu_token_aqui
GEMINI_API_KEY=insira_sua_api_key_aqui

# Caminho relativo ou absoluto para o arquivo JSON da Conta de Serviço do Google
GOOGLE_APPLICATION_CREDENTIALS=./credenciais-gcp.json

# ID do Calendário do Google (geralmente o email da conta ou um ID gerado)
GOOGLE_CALENDAR_ID=seu_email@gmail.com
