node_modules/
scripts/
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Credenciais e chaves do Google Cloud
*-gcp.json
*credentials*.json
*key*.json