node_modules/
scripts/
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
mcp-servers/cline-community/.vscode/

# Credenciais e chaves do Google Cloud
*-gcp.json
*credentials*.json
*key*.json

# Ferramentas locais de desenvolvimento (VS Code / AI Tools)
mcp-servers/
.vscode/cline_mcp_settings.json
.clinerules
.vscode/
