# PORT local env
PORT=3000

# JWT 
JWT_SECRET="minha_super_secreta_jwt_key"

# String conexão com o banco de dados no Docker.
DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/agendador_db?schema=public"
